:root {
    --colorInCharge: #eaeaea;
    --secondaryColor: #fff;
    --colorBorderControl: #c1c1c1;
    --boldText: olive;
    --lightText: #4b5156;
}

html,
body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--boldText);
    font-family: 'Yeseva One', cursive;
    font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
    color: var(--lightText);
    font-family: 'Josefin Sans', sans-serif;
}

a{
    text-decoration: none;
    color: #17a2b8
}

ul{
    list-style:none;
}

h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 2px;}
h6 {font-size: 16px;}

.s1 {
    background-color: var(--colorInCharge);
    border-bottom: 1px solid var(--colorBorderControl);
    overflow:auto; 
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--colorBorderControl);
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content:center;
    min-height: 12em;
}

.intro-wrapper{
    background-color: var(--secondaryColor);
    border:1px solid var(--colorBorderControl);
    border-radius: 5px 5px 0 0;

    -webkit-box-shadow: 0px 9px 12px 4px rgba(46,74,117,1);
    -moz-box-shadow: 0px 9px 12px 4px rgba(46,74,117,1);
    box-shadow: 0px 9px 12px 4px rgba(46,74,117,1);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas: 
        'navi-wrapper navi-wrapper'
        'left-column right-column';
}

.navi-wrapper{
    grid-area: navi-wrapper;
    border-bottom: 1px solid var(--colorBorderControl);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-column{
    grid-area: left-column;
}

.right-column{
    grid-area: right-column;
}

@media screen and (max-width: 1200px){
    .main-container{
    width: 95%;
    }
}