:root {
  --mainBackground: #dcc7aa;
  --secondBackground: #687a8f;
  --colorBorder: #fff;
  --boldText: #f7882f;
  --lightText: white;

  --colorThemeDotBorder:#ffe1bc;

  --openerTransparent: rgb(251, 249, 243, 0.8);
  --openerShadow: #f7c331;

  --contactBtnColor: #fff;
}