:root {
  --mainBackground: #d5d5d5;
  --secondBackground: #96858f;
  --colorBorder: #fff;
  --boldText: #fff;
  --lightText: black;

  --colorThemeDotBorder:#eefbfb;

  --openerTransparent: rgb(25, 39, 52, 0.8);
  --openerShadow: #6d7993;
  --contactBtnColor: #495265;
}